<div class="container">
  <header class="site-head">
    <a href="/" class="invert-link">
      <span class="site-name">
        {% include "partials/icons/logo.svg" %}
        <span class="site-title">{{ site.name }}</span>
      </span>
    </a>
    {% set navLocation = 'primary' %}
    {% include "partials/nav.njk" %}
  </header>
</div>